<div class="flex justify-between px-20 py-10">
  <div class="flex items-end gap-4">
    <div class="flex items-center gap-2">
      <img class="w-5 h-5" src="./shield-check.svg" alt="shield">
      <span class="text-white text-xl">PlaylistGuard</span>
    </div>
    <span class="text-zinc-500 text-md">
      © 2024
    </span>
  </div>

  <div class="flex gap-5 text-zinc-500">
    <a routerLink="/">Privacidad</a>
    <a routerLink="/">Terminos</a>
    <a routerLink="/">Soporte</a>
    <a routerLink="https://developers.google.com/youtube/v3/docs?hl=es-419" target="_blank">
      Youtube API
    </a>
  </div>

</div>
