<div class="flex flex-col sm:flex-row justify-center sm:justify-between items-center gap-4 sm:gap-0 px-6 sm:px-10 lg:px-20">
  <div class="flex items-center sm:items-end gap-2 sm:gap-4">
    <div class="flex items-center gap-2">
      <img class="w-5 h-5" src="./shield-check.svg" alt="shield">
      <span class="text-white text-lg sm:text-xl">PlaylistGuard</span>
    </div>
    <span class="text-zinc-500 text-sm sm:text-md">
      © 2024
    </span>
  </div>

  <div class="flex flex-wrap justify-center gap-3 sm:gap-5 text-sm sm:text-base text-zinc-500">
    <a class="text-sm" routerLink="/">Privacidad</a>
    <a class="text-sm" routerLink="/">Terminos</a>
    <a class="text-sm" routerLink="/">Soporte</a>
    <a class="text-sm" href="https://developers.google.com/youtube/v3/docs?hl=es-419" target="_blank" rel="noopener noreferrer">
  Youtube API
</a>
  </div>
</div>
