<nav class="fixed top-0 left-0 w-full h-16 z-10 flex items-center justify-between px-6 bg-zinc-800 text-white shadow-lg">
  <span class="text-xl font-bold tracking-tight">PlaylistGuard</span>

  <div class="flex items-center gap-3">
    @if(profile()) {
      <span class="text-sm text-zinc-300">{{profile().name}}</span>
      <button
        (click)="logout()"
        class="cursor-pointer rounded-lg border border-zinc-300/30 bg-white/10 px-4 py-2 text-sm font-medium transition hover:bg-white/20"
      >
        Cerrar Sesión
      </button>
    } @else {
        @if(!loadUser()){
          <button
          (click)="loginWithGoogle()"
          class="flex cursor-pointer items-center gap-2 rounded-lg border border-zinc-300/30 bg-white/10 px-4 py-2 text-sm font-medium transition hover:bg-white/20"
        >
          <img src="/google-icon.svg" alt="Google" class="h-5 w-5" />
          Iniciar Sesión
        </button>
        }
    } 
  </div>
</nav>
