@import 'tailwindcss';
@import "primeicons/primeicons.css";

@theme {
  --animate-fade-in: fadeIn 0.2s ease;
  --animate-slide-up: slideUp 0.25s ease;
  --animate-slide-down: slideDown 0.3s ease;

  --color-custom-purple: #A755F7;
  --color-zinc-850: #1F1F22;

  --breakpoint-3xl: 120rem;
  --breakpoint-4xl: 140rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
