@if (visible()) {
  <div
    class="fixed inset-0 z-50 flex items-center justify-center bg-black/70 animate-fade-in"
    (click)="onClose()"
  >
    <div
      class="w-full max-w-md rounded-xl border border-zinc-700 bg-zinc-800 p-6 shadow-xl animate-slide-up"
      (click)="$event.stopPropagation()"
    >
      <div class="mb-4 flex items-center justify-between">
        <h2 class="text-lg font-bold text-zinc-100">
          @switch (type()) {
            @case ('delete-playlist') {
              Eliminar Playlist
            }
            @case ('unauthorized') {
              Iniciar sesión
            }
          }
        </h2>
        <button
          class="cursor-pointer text-xl text-zinc-400 transition hover:text-zinc-100"
          (click)="onClose()"
        >
          <span class="pi pi-times"></span>
        </button>
      </div>

      @switch (type()) {
        @case ('delete-playlist') {
          <div class="w-full flex flex-col items-center justify-center">
            <p class="text-zinc-400 mb-4">
              ¿Estás seguro de que deseas eliminar la playlist? Perderás todos los videos que hayas guardado en ella.
            </p>

            <div class="flex gap-4 w-full justify-center">
              <button
                class="py-2 px-4 rounded-lg border border-zinc-600 cursor-pointer bg-zinc-800 text-base text-gray-100 transition flex items-center justify-center"
                (click)="onClose()"
              >
                <span>Cancelar</span>
              </button>
              <button
                class="py-2 px-4 rounded-lg border border-zinc-600 cursor-pointer text-base text-red-500 transition flex items-center justify-center"
                (click)="onConfirmDelete()"
              >
                <span>Eliminar</span>
              </button>
            </div>
          </div>
        }
        
        @case ('unauthorized') {
          <div class="w-full flex flex-col items-center justify-center">
            <p class="text-zinc-400 mb-4">
              Es necesario que inicies sesión con tu cuenta de Google para poder acceder a la playlist.
            </p>
            <button
              class="py-4 px-4 rounded-lg border border-zinc-600 cursor-pointer bg-zinc-800 w-full text-base text-gray-100 transition flex items-center justify-center"
              (click)="authenticateWithGoogle()"
            >
              <img src="./google-icon.svg" alt="google-icon" class="w-5 h-5 mr-2" />
              <span>Iniciar sesión</span>
            </button>
          </div>
        }
      }
    </div>
  </div>
}
