@if (visible) {
  <div
    class="fixed inset-0 z-50 flex items-center justify-center bg-black/70 animate-fade-in"
    (click)="onClose()"
  >
    <div
      class="w-full max-w-md rounded-xl border border-zinc-700 bg-zinc-800 p-6 shadow-xl animate-slide-up"
      (click)="$event.stopPropagation()"
    >
      <div class="mb-4 flex items-center justify-between">
        <h2 class="text-lg font-bold text-zinc-100">{{title}}</h2>
        <button
          class="cursor-pointer text-xl text-zinc-400 transition hover:text-zinc-100"
          (click)="onClose()"
        >
          <span class="pi pi-times"></span>
        </button>
      </div>
      @if(!viewDataOption){
        <div class="w-full grid grid-cols-3 gap-3">
        @for(option of options; track option) {
            <button 
            (click)="openOption(option)"
            class="rounded-lg border-1 border-zinc-600 cursor-pointer bg-zinc-800 w-[100px] h-[100px] text-base text-gray-100 transition flex items-center justify-center flex-col gap-3">
              <span>{{option.icon}}</span>
              <span>{{option.name}}</span>
            </button>
        }
        </div>
      } @else {
        @switch(optionSelected.type) {
          @case('download') {
            <div class="w-full flex flex-col gap-3">
              <button class="py-4 px-4 rounded-lg border-1 border-zinc-600 cursor-pointer bg-zinc-800 w-full text-base text-gray-100 transition flex items-center">
                <span>Descargar en formato excel</span>
              </button>
              <button class="py-4 px-4 rounded-lg border-1 border-zinc-600 cursor-pointer bg-zinc-800 w-full text-base text-gray-100 transition flex items-center">
                <span>Descargar en formato text</span>
              </button>
            </div>
          }
          @default {
            <p class="text-zinc-400">No hay opciones disponibles</p>
          }
        }
      }
    
    </div>
  </div>
}
